body {
    padding-top: 10%;

    background-color: rgb(27, 27, 27);
    margin: 0;
    font-family: 'Candara', Arial, sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 1.05em;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    /* Fixes the navbar to the top of the viewport */
    top: 0;
    width: 100%;
    /* Make sure it spans the full width of the viewport */
    z-index: 1000;
    /* Ensure it appears above other content */
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.logo {
    width: 40px;
    height: auto;
    vertical-align: middle;
}

.nav-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 16px;
    color: white;
}

.nav-text .name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: rgb(82, 137, 193);

}

.right-aligned {
    float: right;
    /* Align the items to the right */
    display: flex;
    /* Use flexbox to align items horizontally */
    align-items: center;
    /* Center items vertically */
}

.resume-link {
    margin-left: 10px;
    /* Add space between the GitHub icon and the Resume link */
}

.nav-text .title {
    font-size: 1em;
    margin: 0;
}

.section {
    padding: 20px;

    margin-top: 60px;
    font-size: 1em;

}

.section a {
    color: rgb(82, 137, 193);
}

.section a:hover {
    color: rgb(167, 189, 210);

}

.back-button {
    color: rgb(82, 137, 193);
    font-size: 1.5em;
    padding-bottom: 5%;
    text-align: left;
    display: flex;
    text-decoration: none;
}

.back-button:hover {
    color: rgb(167, 189, 210);
    text-decoration: underline;
}

.arrow {
    display: flex;
    width: auto;
    height: 30px;
    margin-right: 8px;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 70%;
    padding-bottom: 5%;
    height: auto;
    width: 100%;

}

.image-box {
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
}

.image {
    height: auto;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    text-align: left;
    padding: 5px 0;
    font-size: 1.1em;
}

.overlay p {
    opacity: 1;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}


@media (max-width: 600px) {
    .gif-container {
        flex-direction: column;
        height: auto;
    }

    .image {
        height: 200px;
    }

    .overlay p {
        font-size: 20px;
    }


    body {
        padding-top: 20%;
    }
}


.info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10%;
    text-align: left;
}

.info-canvas {
    flex: 1;
    background-color: #333;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-items {
    display: grid;
    grid-template-columns: 150px 0.7fr;
    gap: 5px;
    align-items: start;
}

.info-items label {
    font-weight: bold;
    margin-bottom: 5px;
}


@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        gap: 10px;
    }
}