body {
    padding-top: 10%;
    text-align: center;
    background-color: rgb(27, 27, 27);
    margin: 0;
    font-family: 'Candara', Arial, sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 1.05em;

}


title .container {
    max-width: 1200px;
    /* Maximum width of the container */
    margin: 0 auto;
    /* Center horizontally */
    padding: 20px;
    /* Padding around the content */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    /* Fixes the navbar to the top of the viewport */
    top: 0;
    width: 100%;
    /* Make sure it spans the full width of the viewport */
    z-index: 1000;
    /* Ensure it appears above other content */
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.logo {
    width: 40px;
    height: auto;
    vertical-align: middle;
}

.nav-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 16px;
    color: white;
}

.nav-text .name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: rgb(82, 137, 193);

}

.nav-text .title {
    font-size: 1em;
    margin: 0;
}

.section {
    padding: 20px;
    text-align: center;
    margin-top: 60px;
    font-size: 1em;

}

.section a {
    color: rgb(82, 137, 193);
}

.section a:hover {
    color: rgb(167, 189, 210);

}

.back-button {
    color: rgb(82, 137, 193);
    font-size: 1.5em;
    padding-bottom: 5%;
    text-align: left;
    display: flex;
    /* or inline-block */
    text-decoration: none;
    /* Remove underline */
}

.back-button:hover {
    color: rgb(167, 189, 210);
    text-decoration: underline;
    /* Add underline on hover */
}

.arrow {
    display: flex;
    width: auto;
    height: 30px;
    margin-right: 8px;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 70%;
    padding-bottom: 5%;
    height: auto;
    width: 100%;

}


.image-box {
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
}

.image {
    height: auto;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    text-align: left;
    padding: 5px 0;
    font-size: 1.1em;

    /* This will affect the background only */
}

.overlay p {
    opacity: 1;
    font-size: 40px;
    font-weight: bold;
    margin: 0;


}


@media (max-width: 600px) {
    .gif-container {
        flex-direction: column;
        /* Stack images vertically on smaller screens */
        height: auto;
        /* Remove fixed height */
    }

    .image {
        height: 200px;
        /* Fixed height for images on mobile */
    }

    .overlay p {
        font-size: 20px;
    }


    body {
        padding-top: 20%;
    }
}


.info-container {
    display: flex;
    justify-content: space-between;
    /* Space out the items */
    margin-bottom: 20px;
    gap: 10%;
}

.info-canvas {
    flex: 1;
    /* Allow each canvas to grow equally */
    background-color: rgb(82, 137, 193);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Grid layout for labels and values */
.info-items {
    display: grid;
    grid-template-columns: 150px 0.7fr;
    /* Adjusted column widths */
    /* First column: fixed width for labels, second column: flexible for values */
    gap: 5px;
    /* Reduced gap between columns */
    align-items: start;
    /* Align items at the start of the grid area */
}

/* Optional styling for labels */
.info-items label {
    font-weight: bold;
    margin-bottom: 5px;
    /* Space between label and value */
}


@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        /* Stack canvases vertically on smaller screens */
        gap: 10px;
    }
}