body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: rgb(27, 27, 27);
    margin: 0;
    font-family: 'Candara', Arial, sans-serif;
    color: white;
    width: 95%;
    height: 100%;
    font-size: 1.05em;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

.logo {
    width: 40px;
    height: auto;
    vertical-align: middle;
}

.nav-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 16px;
    color: white;

}

.nav-text .name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: rgb(82, 137, 193);

}

.right-aligned {
    float: right;
    display: flex;
    align-items: center;
}

.resume-link {
    margin-left: 10px;
}

.nav-text .title {
    font-size: 1em;
    margin: 0;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h2.section-title {
    font-size: 1.7em;
    margin: 20px 0;
    color: white;

}

.responsive-img {
    width: 25%;
    height: auto;
}

.inline-text {
    display: inline-block;
    margin-left: 15px;
}

.intro-text {
    text-align: left;
}

.section {

    text-align: center;
    margin-top: 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.canvas-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
}

.bordered-img {
    border: 3px solid white;
    border-radius: 10px;
    margin-right: 15px;
}

.contact-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-bottom: 0px;
}

.contact-container span {
    margin-right: 10px;
    font-weight: bold;
}

.contact-container a {
    color: rgb(82, 137, 193);
    text-decoration: none;
}

.contact-container a:hover {
    text-decoration: underline;
    color: rgb(167, 189, 210);

}

.video-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin: 20px 0;
}

.text-container {
    margin-left: 20px;
    font-size: 16px;
    color: rgb(220, 215, 215);
}

.text-container a {
    color: rgb(82, 137, 193);
    text-decoration: underline;
}

.text-container a:hover {
    color: rgb(167, 189, 210);
}

.game-name {
    color: rgb(82, 137, 193);
    font-style: underline;
}

.arrow {
    display: flex;
    width: auto;
    height: 30px;
    margin-left: 10px;

}

.image-box {
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
}

.image {
    height: auto;
    width: 100%;
}

@media (max-width: 600px) {


    h1 {
        flex-direction: column;
    }

    .inline-text {
        margin-left: 0;
    }

    .responsive-img {
        max-width: 200px;
    }

    .canvas-container,
    .video-container,
    .gif-container {
        width: 95%;
        max-width: 95%;
        flex-direction: column;
    }

    .video-container {
        flex-direction: column;
        text-align: center;
    }

    .text-container {
        margin-left: 0;
        margin-top: 10px;
    }

}

@media (max-width: 400px) {


    h1 {
        flex-direction: column;
    }


    .section {
        padding: 5px;
        margin-top: 50px;
    }

    body {
        padding-top: 20%;
    }
}

.skill-container p {

    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(82, 137, 193);

}