body {
    padding-top: 5%;
    text-align: center;
    background-color: rgb(91, 165, 140);
    margin: 0;
    /* Remove default body margin */
    font-family: Arial, sans-serif;
    /* Add your font */
}

nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    /* Space between items */
    align-items: center;
    padding: 14px 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav .nav-left {
    display: flex;
    align-items: center;
    /* Align name vertically */
}

nav .nav-left a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    /* Size for your name */
    margin-right: 20px;
    /* Space between name and links */
}

nav .nav-right {
    display: flex;
    justify-content: flex-end;
    /* Align links to the right */
    flex-grow: 1;
}

nav .nav-right a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

nav .nav-right a:hover {
    background-color: #ddd;
    color: black;
}

.section {
    padding: 20px;
    text-align: center;
    margin-top: 60px;
    /* Adjusted to avoid overlap with fixed nav */
}

h1 {
    display: flex;
    /* Use flexbox for layout */
    align-items: center;
    /* Center items vertically */
}

h1 img {
    margin-right: 15px;
    /* Space between the image and title */
}

p {
    display: inline;
    /* Keeps the paragraph on the same line */
    margin-left: 15px;
    /* Adds space between title and paragraph */
}

#canvas,
#anotherCanvas {
    box-sizing: border-box;
    /* Include border in the width and height calculations */
    width: 100%;
    /* Use a percentage for width to make it responsive */
    max-width: 1000px;
    /* Set a maximum width for larger screens */
    height: auto;
    /* Let the height adjust proportionally */
    border: 5px solid black;
    background-color: white;
    background-image: url(images/background.jpg);
    background-size: contain;
    display: block;
    /* Ensure it's treated as a block-level element */
    margin: 0 auto;
    /* Center the canvas horizontally */
}

.infodiv {
    width: 100%;
    height: auto;
    background-color: chartreuse;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.media-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}

.canvas-container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: auto;
}

canvas {
    display: block;
}

.video-container,
.gif-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* Adjust the width as needed */
    height: auto;
}

video,
img {
    width: 100%;
    height: auto;
}